compose/node/node-red-data/flows.json
[{"id":"9491ef7d.7008b","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"5d76824b.6839ec","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"15239e0.a3d1a62","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"2d06d891.f91b98","type":"ui_group","name":"温度","tab":"b28b52f7.5543d","order":5,"disp":true,"width":"6","collapse":false},{"id":"7db1d612.fee498","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":60,"sy":60,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87260241.d13e6","type":"ui_group","name":"温度","tab":"6c096322.55aa0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"adaa5284.a2692","type":"ui_group","name":"湿度","tab":"6c096322.55aa0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"367952e6.a5f36e","type":"ui_group","name":"気圧","tab":"6c096322.55aa0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"8df68496.76e288","type":"ui_group","name":"明るさ","tab":"6c096322.55aa0c","order":7,"disp":true,"width":"6","collapse":false},{"id":"6c096322.55aa0c","type":"ui_tab","name":"モニタリング","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1a13e74.e4399","type":"ui_group","name":"明るさ","tab":"b28b52f7.5543d","order":8,"disp":true,"width":"6","collapse":false},{"id":"b28b52f7.5543d","type":"ui_tab","name":"グラフ","icon":"dashboard","disabled":false,"hidden":false},{"id":"f22c4145.b8b6b","type":"ui_group","name":"加速度","tab":"b28b52f7.5543d","order":3,"disp":true,"width":"6","collapse":false},{"id":"782839a1.b0df78","type":"ui_group","name":"角加速度","tab":"b28b52f7.5543d","order":4,"disp":true,"width":"6","collapse":false},{"id":"4ba299a6.3471a8","type":"ui_group","name":"磁気","tab":"b28b52f7.5543d","order":5,"disp":true,"width":"6","collapse":false},{"id":"45e03009.9ea36","type":"ioplugin","name":"","username":"","password":"","boardType":"firmata","serialportName":"/dev/ttyACM0","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","samplingInterval":"500"},{"id":"6c98df7a.07dec","type":"MySQLdatabase","name":"","host":"172.22.1.60","port":"3306","db":"temp","tz":"","charset":"UTF8"},{"id":"2f707972.8ccd46","type":"i2c in","z":"5d76824b.6839ec","name":"","busno":"1","address":"72","command":"0","count":"2","x":150,"y":220,"wires":[["cc419489.16f5a8"]]},{"id":"370929c9.2fac36","type":"inject","z":"5d76824b.6839ec","name":"loop","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":140,"wires":[["a2a5555.d808ca8"]]},{"id":"cc419489.16f5a8","type":"function","z":"5d76824b.6839ec","name":"","func":"function Celsius(data) {\n        // 2進数データに変換\n        BinaryData = data.readUInt16BE(0)\n        // 2進数データを温度値に変換する\n        data0 = BinaryData & 0xff00 >> 8 | BinaryData & 0x00ff << 8\n        data1 = data0 >> 3\n        data2 = data1/16\n        return  data2\n}\n\nvar data = msg.payload\n//console.log(data.readUInt16BE(0))\n\nmsg = { payload: Celsius(data)}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["33dd1bf3.524df4"]]},{"id":"54bc2d95.fcc784","type":"debug","z":"5d76824b.6839ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"a2a5555.d808ca8","type":"i2c out","z":"5d76824b.6839ec","name":"","busno":"1","address":"72","command":"3","payload":"0","payloadType":"num","count":"1","x":230,"y":140,"wires":[["2f707972.8ccd46"]]},{"id":"f37dddce.e8938","type":"function","z":"5d76824b.6839ec","name":"mysql","func":"const dt = new Date();\n\nvar date = dt.getFullYear() + '-' +  (dt.getMonth()+1) + '-' + dt.getDate();\nvar time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\n\nvar ondo = msg.payload\n\nmsg.topic = \"INSERT INTO temp (temp) VALUES ('\" + ondo + \"');\";\n\n\n//msg.debug = { \n//    payload: ondo,\n//   date: date,\n//    time: time\n//    \n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":220,"wires":[[]]},{"id":"709de47.997691c","type":"ui_chart","z":"5d76824b.6839ec","name":"","group":"2d06d891.f91b98","order":1,"width":0,"height":0,"label":"温度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":100,"wires":[[]]},{"id":"6940f13.8cbcd1","type":"function","z":"5d76824b.6839ec","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[["709de47.997691c"]]},{"id":"5a829683.03f288","type":"ui_button","z":"5d76824b.6839ec","name":"","group":"2d06d891.f91b98","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":100,"wires":[["6940f13.8cbcd1"]]},{"id":"522aa16e.ed31c","type":"inject","z":"9491ef7d.7008b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["ae445a25.026668"]]},{"id":"ae445a25.026668","type":"debug","z":"9491ef7d.7008b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"33dd1bf3.524df4","type":"function","z":"5d76824b.6839ec","name":"average","func":"if ( !global.array ) {\n    global.array = new Array(0);\n    //global.n = 10;\n}\n\nglobal.array.push(msg.payload);\nconsole.log(global.array.length);\n\n// 定義した入力数が来たら、集計処理を行い、msg.payloadを返す\nif (global.array.length === 10) {\n    // msg.payloadの合計値を算出\n    var sum = 0;\n    for (var i = 0; i < global.array.length; i++) {\n        sum += global.array[i];\n    }\n    msg.payload = sum/10;\n    console.log(msg.payload);\n    \n    global.array.shift();\n    console.log(global.array);\n    \n    return msg;\n}\nconsole.log(global.array);\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\n//context.global.array = new Array(10);\n//context.global.n = 10;","finalize":"","libs":[],"x":400,"y":160,"wires":[["f37dddce.e8938","54bc2d95.fcc784","709de47.997691c"]]}]